@charset "UTF-8";
/* CSS Document */
body {
 margin: 0px;
 padding: 0px;
 background-color: #FFFFFF;
}
ul {
 list-style:none;
}
a {
 text-decoration:none;
}
#home {
 padding: 30px 50px;
 position: relative;
 width: 100%;
 height: 100vh;
 box-sizing: border-box;
 background-size: 1330px;
 background-position: right bottom;
 background-repeat: no-repeat;
 background-image: url("image/bg.png");
 background-color: #EBECF1;
}
nav {
 display: flex;
 justify-content: space-between;
 align-items: center;
 text-transform: uppercase;
 font-weight: 600;
 letter-spacing: 2px;
 font-family: Kumbh Sans;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 box-sizing: border-box;
 padding: 10px 50px;
 background-color: #F4F7FF;
 box-shadow:2px 2px 12px rgba(0,0,0,0.05);
 z-index: 1;
}
.menu {
 display: flex;
}
.menu li a {
 padding: 10px 20px;
 color: #6c707c;
 font-size: 13px;
}
.lang {
 color: #6c707c;
}
.logo, .logo_footer {
 text-transform: none;
 font-size: 25px;
 font-weight: bold;
 color: #292929;
 font-family: Kumbh Sans;
}
.logo_footer {
 font-size: 35px;
}
/*Nav Tab Centre*/
.toggle {
 display: none;
}
.menu li a:hover {
 background-color: #4267B2;
 color: #FFFFFF;
 font-weight: bold;
 transition: all ease 0.3s;
}
.name {
 font-family: Kumbh Sans;
 width: 30%;
 position: absolute;
 left: 20%;
 top: 50%;
 transform: translate(-20%,-50%);
}
.name p:nth-child(1), .name .details {
 color: #6c707c;
 font-size: 1.2rem;
 text-align: left;
}
.name h1 {
 font-family: Kumbh Sans;
 font-size: 40px;
 margin: 0px;
 letter-spacing: 3px;
 color:#292929;
}
.resume-btn {
 width:250px;
 height: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #4267B2;
 color:#FFFFFF;
 border-radius: 20px;
}
.resume-btn:hover {
 background-color: #86c5da;
 color: #000000;
 transition: all ease 0.3s;
}
.social {
 position: absolute;
 left: 50px;
 bottom: 50px;
 display: flex;
}
.social a {
 margin: 6px 12px;
}
.social i {
 color: rgba(18,17,17,0.40);
 font-size: 14px;
}
.social a:hover i {
 color: #17d1ac;
 transition: all ease 0.5s;
}
#about {
 width: 100%;
 height: 100vh;
 background-color: #4267B2;
 box-sizing: border-box;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 50px 5% 0px 5%;
 position: relative;
}
.a-text {
 font-family: Kumbh Sans;
 width: 50%;
}
.a-text h1 {
 font-size: 3rem;
}
.a-text h2 {
 font-size: 1.7rem;
 font-weight: 400;
}
.a-text h1,h2 {
 color: #FFFFFF;
 margin: 0px;
 padding: 0px;
}
.a-text p {
 text-align: left;
 font-size: 1.2rem;
 color: rgba(255,255,255,0.90);
}
.a-text button {
 width: 180px;
 height: 40px;
 border-radius: 20px;
 border: none;
 outline: none;
 font-family: Kumbh Sans;
 color: #4267B2;
 background-color: #FFFFFF;
}
.a-text button:hover {
 background-color: #86c5da;
 color :#000000;
 transition: all ease 0.3s;
}
#project {
 width: 100%;
 height: 100vh;
 box-sizing: border-box;
 font-family: Kumbh Sans;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding-top: 40px;
 background-color: #FFFFFF;
}
.p-title h1 {
 color: #000000;
 font-size: 3rem;
 margin: 0px;
 padding: 0px;
 letter-spacing: 2px;
}
.p-title {
 text-align: center;
 margin: 20px 0px;
}
.p-box {
 background-color: #2B2B2B;
 width: 50%;
 height: 850px;
 margin: 20px;
 border-radius: 20px;
 overflow: hidden;
 box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
 position: relative;
}
.p-container {
 display: flex;
 justify-content: center;
 align-content: center;
}
.p-img {
 width: 100%;
 height: 70%;
}
.p-img img {
 width:100%;
 height: 100%;
}
.p-text {
 width: 100%;
 height: 30%;
 background-color: #4267B2;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
}
.p-text a {
 margin: 0px;
 color: #FFFFFF;
 font-size: 1.1rem;
 font-family: Kumbh Sans;
 display: block;
 display: -webkit-box;
 max-width: 80%;
 -webkit-line-clamp: 10;
 -webkit-box-orient: vertical;
 overflow: hidden;
 text-overflow: none;
}
.p-text a:hover {
 color: rgba(255,255,255,0.50)
}
.p-header {
 font-family: Kumbh Sans;
 color: #FFFFFF;
 background-color: #4267B2;
 padding: 10px 15px;
 position: absolute;
 text-align: center;
 top: 0px;
 left: 50%;
 transform: translateX(-50%);
 font-size: 18px;
 border-radius: 0px 0px 10px 10px;
 box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.p-box:hover {
 transform: translateY(-10px);
 transition: all ease 0.3s;
}
#experience {
 width: 100%;
 height: 100vh;
 box-sizing: border-box;
 font-family: Kumbh Sans;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding: 60px 20px;
 background-color: #4267B2;
}
.e-title h1 {
 color: #FFFFFF;
 font-size: 3rem;
 margin: 0px;
 padding: 0px;
 letter-spacing: 2px;
}
.e-title {
 text-align: center;
 margin: 20px 0px;
}
.e-box {
 background-color: #FFFFFF;
 overflow: hidden;
 border-radius: 10px;
 box-shadow: 2px 2px 13px rgba(0,0,0,0.3);
 position: relative;
}
.e-box img {
 width: 100%;
 height: 100%;
 object-fit: cover;
}
.e-container {
 width: 90%;
 height: 70vh;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: auto auto;
 grid-gap: 30px;
}
.overlay-text {
 font-family: Kumbh Sans;
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 background-color: rgba(66,103,178,0.75);
 display:none;
}
.overlay-text h1, p {
 color: #FFFFFF;
 text-align: center;
}
.overlay-text h1 {
 font-size: 2.0rem;
 margin: 0px;
 padding: 0px;
 letter-spacing: 2px;
}
.overlay-text p {
 font-size: 1.2rem;
 margin: 0px;
}
.e-box:hover .overlay-text {
 display: flex;
}
#contact {
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content:center;
 align-items: center;
 height: 200px;
 background-color: #FFFFFF;
 margin: 20px 0;
}
.c-text, .c-b-text {
 font-size: 2rem;
 color: #1E1E1E;
 font-family: Kumbh Sans;
 padding: 5px;
 letter-spacing: 4px;
}
.c-b-text {
 background-color: #4267B2;
 border-bottom: none;
 text-align: center;
 color: #FFFFFF;
 padding: 10px;
}
#contact button {
 color: #FFFFFF;
 font-size: 1rem;
 font-family: Kumbh Sans;
 width: 150px;
 height: 40px;
 margin: none;
 border: none;
 outline: none;
 background-color: #4267B2;
 border-radius: 20px;
 box-shadow: 2px 5px 6px rgba(0,0,0,0.2);
}
#contact button:hover {
 background-color: #86c5da;
 color: #000000;
 transition: all ease 0.3s;
 font-weight: bold;
}
footer {
 width: 100%;
 height: 250px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 position: relative;
 background-color: #EBECF1;
}
footer p, .copyright {
 font-family: Kumbh Sans;
}
footer p:nth-child(1) {
 font-size: 30px;
 font-weight: bold;
 color: #191919;
 line-height: 20px;
}
footer p:nth-child(2) {
 font-size: 16px;
 color: #7e7d7d;
 text-align: center;
}
.social-icons a {
 width: 40px;
 height: 40px;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #e6e3e3;
 margin: 0 13px;
 border-radius:50%;
}
.social-icons {
 display: flex;
}
.social-icons i,.social i {
 color: #000000;
}
.social-icons a:hover {
 background-color: #4267B2;
 box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
 transition: all ease 0.3s;
}
.social-icons a:hover i, .social a:hover i {
 color: #FFFFFF;
 transition: all ease 0.3s;
}
.copyright {
 color: #565555;
 font-size: 13px;
 position: absolute;
 left:50%;
 bottom: 0px;
 transform: translateX(-50%);
}
/* Responsive-Screen CSS */
@media(max-width:1190px) {
 #home {
 background-size: 1150px !important;
 }
 .name {
  left: 10%;
  top: 50%;
  transform: translate(-10%,-50%);
 }
 .a-img img {
  height: ;
 }
 #project, #experience, #contact {
  height: auto;
 }
 .p-container, .e-container {
  flex-wrap: wrap;
 }
 .p-box, .e-box {
  flex-grow: 1;
 }
 .p-img img {
  object-fit: cover;
 }
}
/*Tablet Size Screen*/
@media(max-width:900px) {
 #home {
  background-image: none !important;
 }
 .name {
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
 }
 .a-img {
  display: none;
 }
 .a-text {
  width: 100%;
  height: 90vh;
  overflow: hidden;
 }
 .p-container, .e-container {
  width: 100%;
 }
 .toggle {
   display: block;
 }
.toggle:before {
 content: '\f0c9';
 font-family: Kumbh Sans;
 line-height: 0px;
 }
.toggle.active:before {
 content:'\f00d' !important;
 }
 nav {
  padding: 10px 25px;
 }
 nav ul {
  position: absolute;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: #0F0F0F;
  top: 50px;
  left: 0;
  transition: 0.5s;
  overflow: hidden;
  display: none !important;
  border: 3px solid #1F1F1F;
 }
  nav ul li a {
  border-bottom: 1px solid rgba(255,255,255,0.10);
  color: #ffffff !important;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px !important;
  padding: 0px !important;
 }
  nav ul {
   padding: 0px;
   margin: 0px;
  }
  nav ul li a:hover {
   background-color: rgba(27,29,32,0.15);
 }
 .p-container, .e-container {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  height: auto;
 }
 .c-text {
  font-size: 1.4rem;
  text-align: center;
 }
}
/*Tablet Size Screen*/
 @media(max-width:600px) {
 .p-container,.e-container {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
 }
 .c-text {
  font-size: 1.2rem;
  text-align: center;
  margin: 0px 10%;
 }
 .name {
  width:60%;
 }
 .social {
  left: 30px;
  transform: translateX(-10px);
 }
}
/*Phone Size Screen*/
@media(max-width:300px){
 .p-box, .e-box {
  width: 100%;
  height: 300px;
 }
}
